// Screen Sizes, Widths:
$laptop: 1280px;
$tablet: 768px;
$mobile: 375px;

// Colors
$black: #000000;
$blue: #c7eae4;
$green: #a7e8bd;
$greyDark: #393939;
$greyLight: #00000029;
$pinkDark: #efa7a7;
$pinkLight: #fcbcb8;
$red: #f25c54;
$white: #ffffff;
$yellow: #ffd972;
