* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
    margin: 0 auto;
  }
}
.topNav {
  width: 100vw;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}
.topNav .logo {
  width: 169px;
  height: 55px;
  background-image: url(../media/logoFixed.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.topNav .menuSVG {
  display: none;
}
.topNav .links {
  margin-right: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topNav .links a {
  text-decoration: none;
  font-family: Caveat-Regular, Caveat;
  font-size: 25px;
  text-transform: capitalize;
  color: #000000;
  background-color: none;
  padding: 10px 25px;
  border-radius: 25px;
}
.topNav .links a:hover {
  background-color: #c7eae4;
  padding: 10px 25px;
  border-radius: 25px;
}
.topNav .links #login {
  background-color: #ffd972;
  padding: 10px 52px;
  border-radius: 25px;
}
.topNav .links #login:hover {
  background-color: #393939;
  padding: 10px 52px;
  border-radius: 25px;
  color: #ffd972;
}
.topNav .links #logout {
  display: none;
  background-color: #ffd972;
  padding: 10px 52px;
  border-radius: 25px;
}
.topNav .links #logout:hover {
  background-color: #393939;
  padding: 10px 52px;
  border-radius: 25px;
  color: #ffd972;
}
.topNav .links #yourRecipe {
  display: none;
}

@media screen and (min-width: 1280px) {
  .topNav {
    width: 1280px;
  }
}
@media screen and (max-width: 768px) {
  .topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .topNav .menuSVG {
    display: flex;
    width: 55px;
    height: 55px;
    background-image: url(../media/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 100px;
  }
  .topNav .links {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .topNav {
    width: 375px;
  }
}
.home {
  height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../media/hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  font-family: GillSans;
}
.home .callout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.home .callout .smallCircle {
  margin-left: 25vw;
  margin-top: -40vh;
  background-color: #fcbcb8;
  width: 167px;
  border-radius: 50%;
  padding: 30px;
  height: 170px;
  position: fixed;
  z-index: 1;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 6px #00000029;
  font-family: Caveat;
  font-size: 12px;
}
.home .callout .bigCircle {
  background-color: #ffd972;
  width: 357px;
  height: 357px;
  position: fixed;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0px 10px 6px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .callout .bigCircle .header {
  width: 100%;
  font-family: Caveat;
  font-style: bold;
  font-size: 30px;
}
.home .callout .bigCircle .subHeader {
  padding-top: -50px;
  width: 50%;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (min-width: 1280px) {
  body {
    background-color: rgba(242, 92, 84, 0.9);
  }

  .home {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .home .callout .smallCircle {
    margin-left: 45vw;
    margin-top: -30vh;
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .home .callout .smallCircle {
    width: 121px;
    height: 121px;
    font-size: 8px;
    margin-left: 50vw;
    margin-top: -30vh;
  }
  .home .callout .bigCircle {
    width: 257px;
    height: 257px;
  }
  .home .callout .bigCircle .header {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    font-size: 17px;
  }
  .home .callout .bigCircle .subHeader {
    width: 50%;
    height: 100%;
    font-size: 9px;
    margin-top: -75px;
  }
}
.recipes {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../media/recipe-hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f25c54;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipes .callout .header {
  margin-top: 100px;
  font-size: 25px;
  z-index: 1;
}
.recipes .contentHolder {
  width: 80vw;
  min-height: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recipes .contentHolder .foodUnit {
  margin: 10px;
  width: 48%;
  min-height: 275px;
  display: flex;
}
.recipes .contentHolder .foodUnit .recipeImg {
  width: 55%;
  height: 100%;
}
.recipes .contentHolder .foodUnit .recipeImg .recipeImg1 {
  height: 100%;
  width: 100%;
  background-image: url(../media/recipe-pizza.jpg);
  border-radius: 24px;
  background-position: center;
  background-size: cover;
}
.recipes .contentHolder .foodUnit .recipeImg .recipeImg2 {
  height: 100%;
  width: 100%;
  background-image: url(../media/recipe-burger.jpg);
  border-radius: 24px;
  background-position: center;
  background-size: cover;
}
.recipes .contentHolder .foodUnit .recipeImg .recipeImg3 {
  height: 100%;
  width: 100%;
  background-image: url(../media/recipe-pilaf.jpg);
  border-radius: 24px;
  background-position: center;
  background-size: cover;
}
.recipes .contentHolder .foodUnit .recipeImg .recipeImg4 {
  height: 100%;
  width: 100%;
  background-image: url(../media/recipe-chowmein.jpg);
  border-radius: 24px;
  background-position: center;
  background-size: cover;
}
.recipes .contentHolder .foodUnit .description {
  width: 45%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipes .contentHolder .foodUnit .description .title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.recipes .contentHolder .foodUnit .description .blurb {
  margin-bottom: 50px;
  width: 130px;
  height: 55px;
  font-size: 9px;
  margin-top: 10px;
  letter-spacing: 0.9px;
  text-align: left;
}
.recipes .contentHolder .foodUnit .description .time {
  padding: 10px;
  display: flex;
  font-size: 10px;
  align-items: center;
}
.recipes .contentHolder .foodUnit .description .time .clock {
  background-image: url(../media/time.svg);
  width: 23px;
  height: 23px;
  object-fit: contain;
  margin-right: 2px;
}
.recipes .contentHolder .foodUnit .description .time .serve {
  background-image: url(../media/servings.svg);
  width: 23px;
  height: 23px;
  object-fit: contain;
  margin-right: 2px;
}
.recipes h4 {
  font-size: 180%;
}

.create {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.create .recipeForm {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  color: #000000;
  font-family: sans-serif;
  text-align: left;
  vertical-align: center;
  flex-direction: column;
}
.create .recipeForm form {
  margin-top: 150px;
  margin-left: 100px;
}
.create .recipeForm form label {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.create .recipeForm form input[type=text] {
  width: 70%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
}
.create .recipeForm form input[type=submit] {
  text-align: center;
  margin-top: -25px;
  vertical-align: center;
  font-size: 25px;
  height: 40px;
  width: 300px;
  background-color: #fcbcb8;
  padding: 5px 10px;
  border-radius: 26px;
  box-shadow: 5px 10px 6px #000000;
  border: none;
  opacity: 1;
  margin-bottom: 75px;
}
.create .recipeForm h1 {
  font-size: 200%;
  z-index: 1;
}
.create .recipeForm h4 {
  font-size: 180%;
}

.registration {
  height: 100vh;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffd972;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.registration .callout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: black;
  font-family: sans-serif;
  text-align: left;
  vertical-align: center;
  display: flex;
  justify-content: center;
}
.registration .callout .loginWrapper {
  margin-top: 150px;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
}
.registration .callout .loginWrapper h1 {
  text-align: center;
  text-transform: capitalize;
}
.registration .callout .loginWrapper .divider {
  width: 40%;
  height: 100%;
  background-color: #ffd972;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.registration .callout .loginWrapper .divider .heading {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.registration .callout .loginWrapper .divider input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: #ffd972;
  margin-bottom: 25px;
}
.registration .callout .loginWrapper .divider input[type=text] ::placeholder {
  color: #000000;
}
.registration .callout .loginWrapper .divider input[type=submit] {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 26px;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px #393939;
}
.registration .callout h1 {
  font-size: 230%;
  z-index: 1;
}
.registration .callout h4 {
  font-size: 180%;
}

#footer {
  width: 100vw;
  height: 20px;
  position: relative;
  bottom: 5vh;
  z-index: 98;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #393939;
  font-family: GillSans;
  font-style: italic;
}
#footer .botNav {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footer .botNav a {
  text-decoration: none;
  color: #000000;
  text-align: left;
}
#footer .socialMedia {
  display: flex;
  justify-content: space-around;
}
#footer .socialMedia img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

@media screen and (min-width: 1280px) {
  #footer {
    width: 1280px;
  }
}
@media screen and (max-width: 768px) {
  #footer {
    width: 98vw;
    bottom: 5vh;
    flex-direction: column;
  }
  #footer .copyright {
    margin-bottom: 5px;
  }
  #footer .botNav {
    width: 80%;
    margin-bottom: 10px;
  }
  #footer .socialMedia {
    width: 10vw;
    justify-content: space-between;
  }
  #footer .socialMedia img {
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) {
  #footer {
    width: 375px;
    flex-direction: column;
    font-size: 9px;
  }
  #footer .copyright {
    margin-bottom: 5px;
  }
  #footer .botNav {
    width: 80%;
    margin-bottom: 5px;
  }
  #footer .socialMedia {
    width: 15%;
    justify-content: space-between;
  }
  #footer .socialMedia img {
    margin-left: 0;
  }
}