<div class="create">
  <div class="recipeForm">
    <form>
      <label for="intro">Hey, let's create your recipe!</label><br /><input
        type="text"
        id="recipeimg"
        name="recipeImage"
        placeholder="Add Recipe Image"
      /><br /><input
        type="text"
        id="recipeName"
        name="recipeName"
        placeholder="Recipe Name"
      /><br /><input
        type="text"
        id="recipeDesc"
        name="recipeDesc"
        placeholder="Recipe Description"
      /><br /><input
        type="text"
        id="recipeTime"
        name="recipeTime"
        placeholder="Recipe Total Time"
      /><br /><input
        type="text"
        id="recipeSize"
        name="recipeSize"
        placeholder="Recipe Serving Size"
      /><br /><br /><label for="ingredients">Enter Ingredients:</label
      ><br /><input
        type="text"
        id="ingredients"
        name="ingredients"
        placeholder="Ingredient #1"
      /><br /><input
        type="text"
        id="ingredients"
        name="ingredients"
        placeholder="Ingredient #2"
      /><br /><input
        type="text"
        id="ingredients"
        name="ingredients"
        placeholder="Ingredient #3"
      /><br /><br /><label for="ingredients">Enter Instructions:</label
      ><br /><input
        type="text"
        id="instructions"
        name="instructions"
        placeholder="Instruction #1"
      /><br /><input
        type="text"
        id="instructions"
        name="instructions"
        placeholder="Instruction #2"
      /><br /><input
        type="text"
        id="instructions"
        name="instructions"
        placeholder="Instruction #3"
      /><br /><br /><input type="submit" value="Create Recipe" />
    </form>
  </div>
</div>
