<div class="home">

    <div class='callout'>
        
        <div class='smallCircle'>Want to be a Jungle Cook? Go ahead and the kitchen is yours!</div>

            <div class='bigCircle'>
                
                <h3 class='header'>The Jungle Cook</h3>
                <p class='subHeader'>The home to various recipes of your choice. Add your own recipe today and fill the world with joy!</p>
                
                
               
            </div>
        </div>
    </div>
</div>


