<div class="registration">
  <div class="callout">
    <div class="loginWrapper">
      <div class="divider">
        <div class="heading">Login Here!</div>
        <div>
          <input type="text" placeholder="Email Address" /><br /><input
            type="text"
            placeholder="Password"
          /><br /><input type="submit" value="Login" />
        </div>
      </div>
      <div class="divider">
        <h1>don't have an account?</h1>
        <div class="heading">Sign Up!</div>
        <div>
          <input type="text" placeholder="First Name" /><br /><input
            type="text"
            placeholder="Last Name"
          /><br /><input type="text" placeholder="Email Address" /><br /><input
            type="text"
            placeholder="Password"
          /><br /><input type="submit" value="Sign Up" />
        </div>
      </div>
    </div>
  </div>
</div>
