<div class="recipes">
  <div class="callout"><div class="header">Recipes: Try some today!</div></div>
  <br />
  <div class="contentHolder">
    <div class="foodUnit">
      <div class="recipeImg"><div class="recipeImg1"></div></div>
      <div class="description">
        <div class="title">Supreme Pizza</div>
        <div class="blurb">
          Make pizza night super duper out of this world with homemade pizza.
          This recipe is supreme with vegetables and two types of meat. Yum!
        </div>
        <div class="time">
          <div class="clock"></div>
          <div>1h 24min</div>
        </div>
        <div class="time">
          <div class="serve"></div>
          <div>4 servings</div>
        </div>
      </div>
    </div>
    <div class="foodUnit">
      <div class="recipeImg"><div class="recipeImg2"></div></div>
      <div class="description">
        <div class="title">Classic Burger</div>
        <div class="blurb">
          Sink your teeth into a delicious restaurant-style hambuger recipe made
          from lean beef. Skip the prepackaged patties and take the extra time
          to craft up your own, and that little extra effort will be worth it.
        </div>
        <div class="time">
          <div class="clock"></div>
          <div>30min</div>
        </div>
        <div class="time">
          <div class="serve"></div>
          <div>4 servings</div>
        </div>
      </div>
    </div>
    <div class="foodUnit">
      <div class="recipeImg"><div class="recipeImg3"></div></div>
      <div class="description">
        <div class="title">Chicken Biryani</div>
        <div class="blurb">
          Chicken Biryani is a bold and flaborful Indian dish with crazy tender
          bites of chicken with bell peppers in a deliciously spiced and
          fragrant rice.
        </div>
        <div class="time">
          <div class="clock"></div>
          <div>1h 15min</div>
        </div>
        <div class="time">
          <div class="serve"></div>
          <div>6 servings</div>
        </div>
      </div>
    </div>
    <div class="foodUnit">
      <div class="recipeImg"><div class="recipeImg4"></div></div>
      <div class="description">
        <div class="title">Ch. Chow Mein</div>
        <div class="blurb">
          A great Chow Mein comes down to the sauce - it takes more than just
          soy sauce and sugar! Jam packed with a surprising amount of hidden
          vegetables, customize this Chicken Chow Mein recipe using your protein
          of choice!
        </div>
        <div class="time">
          <div class="clock"></div>
          <div>20min</div>
        </div>
        <div class="time">
          <div class="serve"></div>
          <div>4 servings</div>
        </div>
      </div>
    </div>
  </div>
</div>
