<div class="jobs">
  <div class="jobs_content">
    <h1 class="jobs_header">unleash play</h1>
    <a class="jobs_link" href="#">work with us</a>
  </div>
  <br />
  <section class="jobs_info">
    <h2>
      Team up with Riot to forge your path and craft unforgettable experiences
      for players.
    </h2>

    <div class="job_row">
      <div id="life" class="job_col">
        <div class="spacer"></div>
        <div class="job_card">
          <h4>life at riot</h4>
          <p>learn more</p>
        </div>
      </div>
      <div id="interview" class="job_col">
        <div class="spacer"></div>
        <div class="job_card">
          <h4>remote interviewing</h4>
          <p>learn more</p>
        </div>
      </div>
      <div id="offices" class="job_col">
        <div class="spacer"></div>
        <div class="job_card">
          <h4>offices</h4>
          <p>learn more</p>
        </div>
      </div>
      <div id="social" class="job_col">
        <div class="spacer"></div>
        <div class="job_card">
          <h4>social impact</h4>
          <p>learn more</p>
        </div>
      </div>
    </div>
  </section>
</div>
