<div class="about">
  <div class="about_hero_wrapper">
    <img
      src="https://www.riotgames.com/darkroom/640/6bbffedc8ed207242544c9de01e455fb:b0ab5db870793b31b1586907ec6099da/idahot-highres-jpg.jpg 640w"
      alt=""
    />
    <div class="about_content">
      <p>Riot</p>
      <h1 class="about_header">Diversity, Inclusion, & Culture</h1>
    </div>
  </div>

  <div class="story_wrapper">
    <div class="story_title">
      “Building a Riot Games where everyone can thrive.”​
    </div>
    <div class="story_content">
      ​
      <p>
        We’re focused on two big work streams to make Riot a great home for
        people who love making games: setting a high bar for diversity and
        inclusion (D&I), and fostering a fair, collaborative, high-performing
        culture
      </p>
      <br />

      <p>To get there, we’re driven by a few simple beliefs. We believe:</p>

      <br />
      ​

      <li>
        That when teams are both diverse and inclusive they win. Every time.
      </li>
      <li>
        That leveraging our strengths, knowing our weaknesses, and being honest
        about both is the best way to succeed, whether that’s in the office or
        in a game.
      </li>
      <li>
        That we must call out sexism, racism, homophobia, transphobia, ableism,
        ageism, religious discrimination, and bigotry of all kinds.
      </li>
      <li>
        That work can be a place where you make lifelong friends, partner with
        clutch teammates, and embrace the joy of making games.
      </li>
      <br />
      <br />
      <p>
        These beliefs will help us surface the best ideas, challenge the status
        quo, and ultimately make better games.
      </p>
      <br />
      <p>
        Sometimes we’ve fallen short of making these beliefs a reality. We
        launched this page so that everyone can see that we are backing up our
        words with actions and can keep track of our progress.
      </p>
    </div>
  </div>
</div>
