<div class="about">
  <div class="about_hero_wrapper">
    <img
      src="https://www.riotgames.com/darkroom/640/7b1f9916e84ff8f6197821928e2a4426:89ee19d4808e39f2b71ca0e6605f1e1b/ritodaze-6-3.jpg%20640w"
      alt=""
    />
    <div class="about_content">
      <p>Riot</p>
      <h1 class="about_header">We are Rioters</h1>
    </div>
  </div>

  <div class="story_wrapper">
    <div class="story_title">our story</div>
    <div class="story_content">
      Riot Games was founded in 2006 to develop, publish, and support the most
      player-focused games in the world. In 2009, we released our debut title,
      League of Legends, to worldwide acclaim. League has gone on to be the
      most-played PC game in the world and a key driver of the explosive growth
      of esports.
      <br />
      <br />

      As League enters its second decade, we’re continuing to evolve the game
      while delivering new experiences to players with Teamfight Tactics,
      Legends of Runeterra, VALORANT, League of Legends: Wild Rift, and multiple
      work-in-progress titles. We’re also expanding the world of Runeterra
      through multimedia projects across music, comic books, board games, and
      the upcoming animated series Arcane.

      <br />
      <br />

      The annual League of Legends World Championship features qualified esports
      teams from 12 international leagues. Worlds is the most widely viewed and
      followed esport tournament, and it’s among the largest and most popular
      gaming and sporting events in the world.
      <br />
      <br />
      Founded by Brandon Beck and Marc Merrill, and led by CEO Nicolo Laurent,
      Riot is headquartered in Los Angeles, California, and has 2,500+ Rioters
      in 20+ offices worldwide. We’ve been featured on numerous lists including
      Fortune’s “100 Best Companies to Work For,” “25 Best Companies to Work in
      Technology,” “100 Best Workplaces for Millennials,” and “50 Best
      Workplaces for Flexibility.”
    </div>
  </div>
</div>
